<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Bookings</title>
</head>

<body>
    <div class="container">
        <div class="table-responsive">
            <caption>
                Bookings Made.
            </caption>
            {{#if book}}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Room Type</th>
                        <th scope="col">Booked By</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tel</th>
                        <th scope="col">Image</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                {{#each book}}
                <tbody>
                    <tr>
                        <th scope="row">{{roomType}}</th>
                        <td>{{name}}</td>
                        <td><a href="mailto:{{email}}">{{email}}</a></td>
                        <td><a href="tel:{{contact}}">{{contact}}</a></td>
                        {{#if passport_img}}
                        <td><a href="{{passport_img}}" data-lightbox="{{passport_img}}">View
                                Image</a></td>
                        {{else}}
                        <td>view image</td>
                        {{/if}}
                        <td class="text-muted">{{formatDate  date}}</td>
                    </tr>
                </tbody>
                {{/each}}
            </table>
            {{else}}
            <p>No bookings made yet</p>
            {{/if}}
        </div>
    </div>
</body>

</html>