{{> _navbar}}

{{!-- <div class="container">
    <div class="my-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Rooms</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">Contact</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {{#if room}}
                <div class="grid-4">
                    {{#each room}}
                    <div class="card mb-3 shadow-sm">
                        <img src="/img/bg2.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title lead">{{room}}</h5>
                            <div class="text-muted">ghs{{price}}</div>
                            <p class="card-text">
                                <a href="/hb/view-room/{{_id}}" class="btn btn-dark btn-block">View Room</a>
                            </p>
                        </div>
                    </div>
                    {{/each}}
                </div>
                {{else}}
                <p>No room listed yet</p>
                {{/if}}

            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                About Us
                <br />
                {{user.hostel.description}}
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                Email:
                <strong><a href="mailto:{{user.hostel.email}}">{{user.email}}</a></strong>

                <p class="my">Contact</p>
                <p><strong>{{user.phone}}</strong></p>
            </div>
        </div>
    </div>
</div> --}}
<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">View Our Rooms</h1>
            </div>
        </div>
    </div>
</section>
<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            <!-- Listing 1 -->
            {{#each room}}
            {{#if mainImage}}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{mainImage}}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-primary text-white p">ghs {{price}}</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h5>
                                <i class="fas fa-map-marker text-secondary"></i> {{room}}
                            </h5>
                        </div>
                        <hr>
                        <a href="/hb/view-room/{{_id}}" class="btn btn-primary btn-block">View Room</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="/assets/img/homes/home-1.jpg" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-primary text-white p">ghs {{price}}</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h5>
                                <i class="fas fa-map-marker text-secondary"></i> {{room}}
                            </h5>
                        </div>
                        <hr>
                        <a href="/hb/view-room/{{_id}}" class="btn btn-primary btn-block">View Room</a>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>