<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>asktheporter | {{user.name}}</title>
</head>

<body>

</body>

</html>

<section id="showcase-inner" class="py-5 text-white">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 class="display-4">View Our Rooms</h1>
            </div>
        </div>
    </div>
</section>

<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb text-capitalize">
                <li class="breadcrumb-item">
                    <a href="/">
                        <i class="fas fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item">
                    <a href="/hb/locality-hostels/{{user.location}}">
                        <i class="fas fa-home"></i> {{user.location}}</a>
                </li>
                <li class="breadcrumb-item active"> {{user.name}}</li>
            </ol>
        </nav>
    </div>
</section>
<section id="listings" class="py-4">
    <div class="container">
        <div class="row">
            <!-- Listing 1 -->
            {{#each room}}
            {{#if mainRoomImage}}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="{{mainRoomImage}}" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-primary text-white p">ghs {{price}}</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h5>
                                <i class="fas fa-map-marker text-secondary"></i> {{room}}
                            </h5>
                        </div>
                        <hr>
                        <a href="/hb/view-room/{{_id}}" class="btn btn-primary btn-block">View Room</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-6 col-lg-4 mb-4">
                <div class="card listing-preview">
                    <img class="card-img-top" src="/assets/img/homes/home-1.jpg" alt="">
                    <div class="card-img-overlay">
                        <h2>
                            <span class="badge badge-primary text-white p">ghs {{price}}</span>
                        </h2>
                    </div>
                    <div class="card-body">
                        <div class="listing-heading text-center">
                            <h5>
                                <i class="fas fa-map-marker text-secondary"></i> {{room}}
                            </h5>
                        </div>
                        <hr>
                        <a href="/hb/view-room/{{_id}}" class="btn btn-primary btn-block">View Room</a>
                    </div>
                </div>
            </div>
            {{/if}}
            {{/each}}
        </div>
    </div>
</section>